<br>
<h1>Add Comment</h1>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :expense_id %>

  <%= f.text_area :description, class: "form-control" %>
  <br>
  <%= f.submit "Submit", data: { disable_with: false }, class: "btn btn-secondary btn-sm", id: "add-comment" %>

<% end %>
