<table class="table">
  <thead class="table-striped">
    <th>Month</th>
    <th>Year</th>
    <th>Details</th>
  </thead>
  <tbody id="expense-report-table">
    <% @expense_reports.order_by_year.each do |expense_report| %>
      <tr id="<%= expense_report.id %>">
        <td id="expense-report-month"><%= expense_report.month %></td>
        <td id="expense-report-year"><%= expense_report.year %></td>
        <td id="expense-report-link"><%= link_to "View", expense_report_path(expense_report) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
