<table class="table">
  <thead class="table-striped">
    <th>Month</th>
    <th>Year</th>
    <th>Details</th>
  </thead>
  <tbody>
    <% @expense_reports.order_by_year.each do |expense_report| %>
      <tr>
        <td><%= expense_report.month %></td>
        <td><%= expense_report.year %></td>
        <td><%= link_to "View", expense_report_path(expense_report) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
