
<%= form_tag(expense_reports_by_year_path, method: :get, class: "form-group") do %>
  <p>
    <%= select_tag("year", options_for_select(@reports.collect { |r| r.year }.uniq), prompt: "Search by year", class: "btn-outline-secondary btn-sm dropdown-toggle") %>
    <%# <%= submit_tag "Go", name: nil, class: "btn btn-secondary btn-sm", id: "search-year" %>
  </p>
<% end %>
