<br>
<h2>Here are your reports for <%= "#{params[:year]}" %></h2>

<ul>
  <% @reports.each do |expense_report| %>
    <li>
      <%= expense_report.month %> | <%= expense_report.year %> | <%= link_to "View", expense_report_path(expense_report) %>
    </li>
  <% end %>
</ul>
