<br>
<h1>Here are your reports for <%= "#{params[:year]}" %></h1>
<br>

<div>
  <ul>
    <% @reports.each do |expense_report| %>
      <li>
        <%= expense_report.month %> | <%= expense_report.year %> | <%= link_to "View", expense_report_path(expense_report) %>
      </li>
    <% end %>
  </ul>
</div>
