<br>
<h1>Create an account</h1>

<%= render partial: "error_messages", locals: { object: @user } %>

<%= render 'form' %>
<br>
<%= button_to "Sign up with Github", '/auth/github', class: "btn btn-secondary btn-sm" %>
