@import "bootstrap";


// STYLING FOR ERRORS

div.field_with_errors input {
  border: 1px solid red;
}

div.field_with_errors textarea {
  border: 1px solid red;
}

// STYLING FOR EXPENSE AND EXPENSE REPORTS TABLES

.paddingBetweenCols td {
    padding:3px 15px 0 15px;
}

// FOOTER

footer div.container {
  padding-top: 60px;
}
