<h1>Expense Details</h1>

<ul>
  <li>Month: <%= @expense.month %></li>
  <li>Cost: $<%= @expense.cost %></li>
</ul>

<h3>Expense Category</h3>

  <p>Eventually a category will go here</p>


<h4>Expense Note</h4>

  <p>A note about the expense will go here</p>
