<h1>Expense Details</h1>

<ul>
  <li>Month: <%= @expense.month %></li>
  <li>Cost: $<%= @expense.cost %></li>
</ul>

<h3>Expense Category</h3>

  <p>Eventually a category will go here</p>


<h4>Expense Comments</h4> <!-- The join table might make more sense to be called Expense_comment or Comment -->
                      <!-- This table would keep all the same columns but the name of the table might make more sense -->
  <%= link_to "Add Comment" %>
  <p>A note about the expense will go here</p>



<%= link_to "Profile", user_path(current_user) %>
